<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Weight</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <form>
 
    <!-- Select the weight measurement to convert from -->
    <p>From</p>
    <ion-select name="converts" id="Selection" [(ngModel)]="eka">
      <ion-select-option value="kilograms1">Kilograms</ion-select-option>
      <ion-select-option value="pounds1">Pounds</ion-select-option>
      <ion-select-option value="ounces1">Ounces</ion-select-option>
      <ion-select-option value="grams1">Grams</ion-select-option>
      <ion-select-option value="stones1">Stones</ion-select-option>
    </ion-select>
  
    <!-- Select the weight measurement to convert to-->
    <p>To</p>
    <ion-select name="converts2" id="Selection2" [(ngModel)]="toka">
      <ion-select-option value="kilograms1">Kilograms</ion-select-option>
      <ion-select-option value="pounds1">Pounds</ion-select-option>
      <ion-select-option value="ounces1">Ounces</ion-select-option>
      <ion-select-option value="grams1">Grams</ion-select-option>
      <ion-select-option value="stones1">Stones</ion-select-option>
    </ion-select>
 
 
 <!--INPUT-->
 <br>
    
 <p>Value</p>
 <ion-input type="number" name="value" [(ngModel)]="value" id="value" placeholder="Insert value" (ionChange)="Conversion()"> </ion-input>


 <!--RESULT -->
 
 <p>Conversion</p>
 <div class="ion-input" type="number"  name="convertedOutput" [(ngModel)]="convertedOutput" id="convertedOutput" value="Disabled">
 </div>   


  </form>
 
</ion-content>
