<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Currency</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="formi">

<!-- Select the currency to convert from-->
    <p>From</p>
      <ion-select id="fromCurr" [(ngModel)]="fromCurr" (change)="getCurrencyRate()">
        <ion-select-option *ngFor="let item of countryCodes" selected value="{{item}}">{{item}}</ion-select-option>
      </ion-select>

<!-- Select the currency to convert to-->
      <p>To</p>
      <ion-select id="toCurr" [(ngModel)]="toCurr" (change)="getCurrencyRate()">
        <ion-select-option *ngFor="let item of countryCodes" value="{{item}}">{{item}}</ion-select-option>
      </ion-select>


   
<!-- Input desired value -->
    <br>
    <br>Value
      <ion-input type="number" id="value" [(ngModel)]="fromValue" placeholder="Insert value" (keyup)="calculateCurrencyOne()"></ion-input>

<!-- Converted currency value-->
      <br>Conversion
      <ion-input type="number" id="convertedOutput" [(ngModel)]="toValue" (keyup)="calculateCurrencyTwo()"></ion-input>
    <br>


</div>
</ion-content>